
//mba과정
//color 정의

$white:#fdfdfd;
$grayf0:#f0f0f0;
$gray:#d5d5d5;
$gray1: #555D67;
$gray2: #777;
$block:#333;
$btn-gray:#bdbdbd;
$text-darkblue: #005BAC;
$red-d3: #d34545;
$green:#09E27C;
$blue: #00D4EA;
$yellow: #FFDC20;
$yellow300: #FFD300;
$skyblue:#94C0E9;


$imgurl:"../images/";