$blue00: #005BAC;
$gray77: #777777;
$gray33: #333333;
$gray00: #000000;
$gray99: #999999;
$graybd: #bdbdbd;
$graye0: #e0e0e0;
$whiteff: #ffffff;
$yellowfa: #FAC300;

$size14: 14px;
$size16: 16px;
$size20: 20px;
$size22: 22px;
$size24: 24px;
$size28: 28px;
$size18: 18px;
$size32: 32px;
$size52: 52px;
$bold700: 700;



